@model List<Artwork>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Artworks";
}

@if (User.IsInRole("Admin"))
{
    <h4><a asp-action="Edit" class="editLink"><i class="bi bi-image pe-1"></i>Edit Gallery</a></h4>
    <div class="container header">
        <h2>Previews - Click to expand</h2>
    </div>
}
else
{
    <div class="container header">
        <h2>Previews - Click to expand</h2>
    </div>
}

<div class="container-lg gallery">
    @if (Model.Any())
    {
        foreach (Artwork a in Model)
        {
            <div class="galleryItem">
                <img src="@a.Link" alt="@a.Description"/>
                <h4 class="pt-2">@a.Title</h4>
                <h5>@a.DateFinished.ToString("MMMM yyyy")</h5>
            </div> 
        }
    } 
</div>