@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="container-fluid homeHeader">
        <div class="row py-4">
            <div class="d-flex justify-content-center"><h3 class="homeTitle">Eugene Fine Art</h3></div>
        </div>
        <div class="row">
            <div class="col-sm-6 px-5">
                <h5 class="d-flex justify-content-center pb-1">About Us</h5>
                <img class="profilePicture" src="https://place-hold.it/200" alt="Picture of site owner Jason Bruce"/>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Dictum eget natoque natoque dui porttitor bibendum aliquam tincidunt
                    quisque. Feugiat id ut varius tempor phasellus massa eu. Iaculis laoreet dapibus sollicitudin, sociosqu congue nulla
                    sollicitudin. Ligula senectus sociosqu posuere arcu etiam lacinia. Quisque id hendrerit taciti duis mollis morbi. 
                    Iaculis laoreet dapibus sollicitudin, sociosqu congue nulla sollicitudin. Ligula senectus sociosqu posuere arcu etiam 
                    lacinia. Quisque id hendrerit taciti duis mollis morbi feugiat id ut varius tempor phasellus massa eu.</p>
            </div>
            <div class="col-6 text-center">
                <h3 class="d-flex justify-content-center pb-1">Get in Touch</h3>
                <h4><a href= "mailto:brucej.jsb@gmail.com" class="contactButton">-- <i class="bi bi-envelope-at"></i> Email --</a></h4>
                <h4><a href= "https://www.linkedin.com/in/jason-s-bruce" target="_blank" class="contactButton">-- <i class="bi bi-linkedin"></i> LinkedIn --</a></h4>
                <h4><a href= "https://www.instagram.com/jason__bruce" target="_blank" class="contactButton">-- <i class="bi bi-instagram"></i> Instagram --</a></h4>
            </div>
        </div>
    </div>
</body>
