@{
    ViewData["Title"] = "Site Info";
}

<div class="titleContainer py-3">
    <h1>News</h1>
</div>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-4">
            <img src="https://www.place-hold.it/400" alt="News Image"/>
        </div>
        <div class="col-lg-8">
            <h3>Gallery Events</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula enim, semper in vehicula ornare, efficitur a tellus. 
                Duis sollicitudin eleifend justo sit amet tempus. Phasellus eget ultrices dolor, vel vestibulum lorem. Vestibulum ac luctus 
                turpis, at sollicitudin erat. Mauris finibus tincidunt porttitor. Duis ultrices, erat mollis hendrerit lacinia, urna felis 
                luctus nulla, nec aliquam lorem nisi vel odio. Duis eget turpis sed mi ultricies porttitor nec id odio. Etiam lacinia dictum 
                tortor, et interdum sem feugiat a. Curabitur sit amet mi eget risus auctor elementum eu sit amet sem. Curabitur dignissim 
                condimentum eleifend. Sed nec lorem quis erat malesuada mollis eu non diam. Nulla sit amet hendrerit felis.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 mx-5">
            <h4>Story 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula enim, semper in vehicula ornare, efficitur a tellus.
                Duis sollicitudin eleifend justo sit amet tempus. Phasellus eget ultrices dolor, vel vestibulum lorem. Vestibulum ac luctus
                turpis, at sollicitudin erat. Mauris finibus tincidunt porttitor.</p>
        </div>
        <div class="col-md-3 mx-5">
            <h4>Story 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula enim, semper in vehicula ornare, efficitur a tellus.
                Duis sollicitudin eleifend justo sit amet tempus. Phasellus eget ultrices dolor, vel vestibulum lorem. Vestibulum ac luctus
                turpis, at sollicitudin erat. Mauris finibus tincidunt porttitor.</p>
        </div>
        <div class="col-md-3 mx-5">
            <h4>Story 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula enim, semper in vehicula ornare, efficitur a tellus.
                Duis sollicitudin eleifend justo sit amet tempus. Phasellus eget ultrices dolor, vel vestibulum lorem. Vestibulum ac luctus
                turpis, at sollicitudin erat. Mauris finibus tincidunt porttitor.</p>
        </div>
    </div>
</div>