@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
  font-family: Stepalange;
  src: url("../assets/fonts/StepalangeRegular.woff") format("woff"), url("../assets/fonts/StepalangeRegular.ttf")  format("truetype");
}

@font-face {
  font-family: Limelight;
  src: url("../assets/fonts/Limelight-Regular.ttf") format("truetype");
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Limelight, sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navBorder {
  border-right: solid 1px black;
}

.navImportant:hover {
  color: #0077cc !important;
}

.titleContainer {
  background-color: cornflowerblue;
  width: 100%;
  text-align: center;
}

.register {
  margin-right: 0.5vw;
}

.registerInput {
  margin-bottom: 0.5vw;
}

.registerForm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1vw 3vw 1vw 3vw;
  width: max-content
}

.tableDescription {
  table-layout: auto;
}

.gallery {
  max-width: fit-content;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
}

@media(max-width: 1100px) {
  .gallery {
    max-width: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }
}

@media(max-width: 500px) {
  .gallery {
    max-width: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
}

.galleryItem {
  max-width: fit-content;
  margin-inline: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5vw;
  margin: 1.5vw;
  text-decoration: none;
  color: black;
}

.galleryThumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.DetailedGalleryBody {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2vw;
}

.containerComments {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1vw;
}

.commentInput {
  width: 100%;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 0 1vw 0;
  background: lightgray;
}

.detailedImage {
  object-fit: contain;
  height: 40vw;
}

.addGallery {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3vw;
  width: 50%;
}

.galleryFormInput {
  
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: solid black 2px;
}

.editLink {
  text-decoration: none;
  color: black;
}

.homeTitle {
  font-size: 8vw;
}

.tableButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  float: left;
  margin-right: 1vw;
  margin-bottom: 0.5vw;
}

.contactButton:hover {
  font-size: xx-large;
}

.contactButton {
  text-decoration: none;
  color: black;
}

.buttonField {
  min-width: 5vw;
}

.adminDash {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adminQuickLinks {
  
}

.adminStatistics {
  border-left: 3px solid black;
}

.storeContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1vw 3vw 1vw 3vw;
}
.productArea {
  border-bottom: 2px solid black;
  padding-bottom: 2vw;
}

.productName {
  border-bottom: 2px solid black;
}

.formArea {
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1vw 2vw 1vw 2vw;
  margin-left: auto;
  margin-right: auto;
}

